article.romana_single_post
  .romana_post_thumb
    img(src=image, alt="")
  .romana_post_title
    a(href=href)
      h2 !{title}
    .romana_post_content
      p !{desc}
      .romana_post_btn
        a(href=href) Read More
          i.icofont.icofont-long-arrow-right
