article.romana_single_post
  .romana_post_thumb
    img(src=item.image, alt="")
  .romana_post_title
    a(href=item.href)
      h2 !{item.title}
    .romana_post_content
      p !{item.desc}
      .romana_post_btn
        a(href=item.href) Read More
          i.icofont.icofont-long-arrow-right
